.demo-content{
  background: #092449;
  padding: 100px;
}
.marker {
  width: 60px;
  font-size: 15px;
  color: #fff;
  position: relative;
  >span {
    display: inline-block;
    position: absolute;
    left: 3em;
    top: -1.8em;
    width: 40px;
    text-align: center;
    z-index: 1;
  }
  &:after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 25px;
    background: #316e8c;
    border-radius: 50%;
    box-shadow: 0 10px 5px #073c5c;
    position: absolute;
    left: 3em;
    top: -1em;
  }
}

